/* cart.css */

/* General Styles */
.cart-container {
  width: 90%;
  margin: 10px auto;
  font-family: sans-serif;
}

.cart-container h2 {
  color: #ff6f61;
  margin: 10px 0;
}

.cart-items {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  flex-wrap: wrap; /* Wrap items for smaller screens */
}

.item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping */
}

.item-title {
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  color: #1e293b;
}

.item-price {
  font-weight: 500;
  font-size: 20px;
  color: #ff6f61;
  margin: 0;
}

sup {
  color: #1e293b;
  font-size: 14px;
  display: inline-block;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.quantity-controls span {
  display: block;
  width: 20px;
  text-align: center;
}

.quantity-button {
  padding: 5px 8px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #80b483;
  transition: all 0.3s ease;
}

.quantity-button:hover {
  background-color: #689f6b;
}

.quantity {
  margin: 0 8px;
}

.remove-button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px;
}

.remove-button:hover {
  background-color: #e2574a;
}

.cart-summary {
  text-align: right;
}

.cart-summary p {
  padding: 8px;
  color: #1e293b;
  font-size: 16px;
}

.subtotal {
  font-weight: 600;
  color: #689f6b;
  font-size: 22px;
}

.checkout-button,
.continue-shopping-btn {
  background-color: #689f6b;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
  transition: all 0.3s ease;
}

.checkout-button a,
.continue-shopping-btn a {
  text-decoration: none;
  color: white;
}

.checkout-button:hover {
  background-color: #5c8c5f;
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
  .cart-container {
    width: 95%;
    margin: 10px auto;
  }

  .cart-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  .item-image {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .item-details {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .item-title {
    width: 170px;
    font-size: 1rem;
  }

  .item-price {
    font-size: 20px;
  }

  .quantity-controls {
    width: auto;
  }

  .quantity-button {
    padding: 3px 8px;
    font-size: 14px;
  }

  .quantity {
    margin: 0 5px;
    font-size: 16px;
  }

  .remove-button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .cart-summary p {
    font-size: 16px;
  }

  .subtotal {
    font-size: 22px;
  }

  .checkout-button,
  .continue-shopping-btn {
    padding: 8px 16px;
    font-size: 16px;
  }
}

