*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.products-page-container {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

.alert-message {
  padding: 10px;
  border-radius: 5px;
  background-color: #fb8277;
  color: white;
  position: fixed;
  z-index: 5;
  right: 20px;
  /* transform: translateX(150%); */
  right: -200px;
  transition: right 0.5s ease;
}

.visible {
  right: 20px;
}

.filter-products-container {
  min-width: 250px;
  padding: 20px 20px 20px 50px;
  background-color: #1e293b;
  color: #bae0bd;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 -2px 2px -2px #bae0bd;
}

.search-products-container {
  overflow-x: clip;
  max-height: calc(100vh - 91px);
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* background-color: #f8f9fa; */
}

.filter-by-category-container,
.filter-by-price-container {
  margin-bottom: 20px;
}

.filter-by-category-container span,
.filter-by-price-container span {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ff6f61;
  font-size: 18px;
}

.filter-by-category-container {
  margin-bottom: 30px;
}

.checkbox-block {
  margin-bottom: 10px;
}

.checkbox-block label {
  margin-left: 5px;
  color: #bae0bd;
}

.search-block {
  margin-bottom: 20px;
}

.search-block label {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #1e293b;
}

.search-cluster {
  width: 50%;
  max-width: 500px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: white;
  min-height: 35px;
}

.search-cluster input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 18px;
}

.search-cluster img:nth-of-type(2) {
  width: 32px;
  height: 32px;
  cursor: pointer;
  /* margin-left: 10px; */
}

.cross-img {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.products-block {
  flex-grow: 1;
}

.products-list {
  /* border: 1px solid #eee; */
  background-color: white;

  /* padding: 10px; */
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.pages {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.page-number {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #7a7979;
  color: white;
  cursor: pointer;
}

.page-number.active {
  background-color: #ff6f61;
  pointer-events: none;
}

/* checkbox button styling adjustments for better visibility */

.checkbox-block input[type="checkbox"] {
  accent-color: #ffeb3b; /* Light Blue Accent */
  transform: scale(1.1);
  margin-right: 10px;
}

.checkbox-block label:hover {
  color: #ffeb3b; /* Lighter Blue Hover */
  cursor: pointer;
}

.filter-toggle-btn {
  padding: 8px;
  background-color: #ff6f61;
  border: none;
  color: white;
  border-radius: 5px;
  max-width:100%;
}

.close-btn {
  width: 40px;
  height: 40px;
  background-color: #ff6f61;
  color: white;
  border-radius:50%;
  font-size:20px;
  border:none;
  margin-bottom:30px;
}

@media (max-width: 768px) {
  .products-page-container {
    flex-direction: column;
    padding: 10px;
  }

  .filter-products-container {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 30px;
    background-color: #1e293b;
    color: #bae0bd;
    z-index: 10;

    transition: all 0.3s ease;
  }
  .filter-open {
    left: 0;
  }

  .filter-products-container.active {
    display: block;
  }

  .search-products-container {
    width: 100%;
    max-height: calc(100vh - 85px);
    overflow-y: auto;
    
  }

  .filter-toggle {
    display: block;
    background-color: #80b483;
    color: white;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
  }

  .products-list {
    justify-content: center;
    gap: 10px;
  }

  .products-list .product-item {
    width: 100%;
    max-width: 300px;
  }

  .search-cluster {
    width: 100%;
  }
  .pages {
    flex-wrap: wrap;
    gap: 10px;
  }

  .page-number {
    width: 30px;
    height: 30px;
  }
}
